websockets==14.2
google-auth==2.45.0
certifi==2024.12.14
requests==2.32.5
google-genai==1.56.0
aiohttp==3.13.2
python-dotenv==1.2.1
google-api-python-client==2.187.0
google-auth-oauthlib==1.2.3
google-cloud-secret-manager==2.26.0