functions-framework==3.*
google-api-core==2.28.1
google-cloud-documentai==2.35.0
google-cloud-core==2.5.0
google-cloud-pubsub==2.34.0
google-cloud-storage==2.19.0
langchain==0.3.27
langchain-core==0.3.81
langchain-google-alloydb-pg==0.13.0
langchain-google-vertexai==2.1.2
langchain-text-splitters==0.3.11
