gunicorn==20.1.0; python_version > '3.0'
gunicorn==19.10.0; python_version < '3.0'
uvicorn~=0.42.0
fastapi~=0.135.2
fastapi-utilities==0.3.1
cloudpickle==2.2.1
grpcio==1.80.0
urllib3==1.26.20
typing-inspect==0.9.0
typing_extensions==4.15.0
pydantic==2.12.5
requests==2.33.1
Pillow==11.3.0

google-cloud-aiplatform==1.144.0
google-cloud-bigquery==3.41.0
google-cloud-tasks==2.22.0
google-cloud-logging==3.15.0
google-cloud-speech==2.38.0
google-cloud-discoveryengine==0.18.0
google-genai==0.8.0
pylint
black
pytest
pytest-cov
pytest-watch
